*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITY CLASS */
.container{
  width: 80%;
  margin: auto;
}
.mb_45{
  margin-bottom: 45px;
}
.orange{
  background-color: #FE775A;
}
.lightgreen{
  background-color: #AFEBE4;
}
.blue{
  background-color: #32495B;
}
.lightblue{
  background-color: #F4F9FD;
}
.fl{
  float: left;
}


.top_nav::after{
  content: "";
  display: table;
  clear: both;
}
.top_fix{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid black;
}
.top_nav{
  height: 80px;
  overflow: hidden;
}

.top_l{
  width: 50%;
  line-height: 80px;
}

.top_r{
  width: 50%;
  line-height: 80px;
  text-align: right;
}

.top_nav a{
  padding: 0 15px;
  text-decoration: none;
  color: black;

}

.top_nav > .top_l a:first-child{
  border-right: 1px solid black;
  padding: 0 15px 0 0;
}

.btn{
  border-radius: 5px;
  padding: 10px !important;
  color: white;
}

#log_in{
  color: #FE775A;
  background-color: white;
  border: 1px solid #FE775A;
}

#search{
  color: blue;
}

.top_r a{
  margin: 0 10px;
}


.head_nav{
  height: 80px;
  margin-top: 80px;
  overflow: hidden;
}

.head_nav a{
  text-decoration: none;
  color: black;
}

.logo{
  width: 50%;
  line-height: 80px;
  padding-top: 10px;
}













.hero_ban{
  height: 610px;
}
.second_div{
  background-image: url('../img/jumbotron.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}













.first_line{
  height: 325px;
  margin-top: 45px;
}

.second_line{
  height: 345px;
}

.third_line{
  height: 660px;
}

.
